body {
  margin: 0;
  height: 100vh;
}
 
* {
  box-sizing: border-box;
}

#mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}
/*
.grid {
  background-color: blue;
  border: 2px solid mediumseagreen;
}
.gridBox {
  background-color: blueviolet;
  border: 1px solid black;
}

#gridChangeBtn {
  margin-left: 600px;
}
#heading {
  text-align: center;
  font-size: 38px;
  background-color: darkcyan;
  font-weight: bolder;
} */
