body {
    margin: 0;
    height: 100vh;
}
#container {
    width: 500px;
    height: 500px;
    /* background-color: ; */
    
    display: flex;
    align-content:flex-start;
    flex-flow: row wrap;
    gap: 1px;
    
}
.grid {
    width: 10px;
    height: 10px;
    background-color: black;
    
    
}
